@import "_imports.scss";

.primary {
	color: black;
	@include background-gradient;
	@include flex-container;
	-webkit-align-items: baseline;
    align-items: baseline; 
	h1 {
		text-align: center;
		font-size: 48px;
		@include cover-text(0);
		@include text-shadow($primary-color, $secondary-color);
	}
	img {
		display: block;
		margin: 0 auto;
	}
	height: 700px;
	margin-top: 20px;
}
.secondary {
	@include flex-item(1);
}

.margin {
	margin: 0px 150px 150px 150px;
}
