@import "_imports.scss";

.primary {
	color: black;
	@include background-gradient;
	@include flex-container;
	-webkit-align-items: flex-start;
    align-items: flex-start; 
	h1 {
		text-align: center;
		font-size: 48px;
		@include cover-text(0);
		@include text-shadow($primary-color, $secondary-color);
	}
	h2 {
		text-align: center;
		font-size: 36px;
		@include cover-text(0);
		@include text-shadow($primary-color, $secondary-color);
	}
	h3 {
		text-align: left;
		font-size: 24px;
		@include cover-text(0);
		@include text-shadow($primary-color, $secondary-color);
	}		
	img {
		display: block;
		margin: 0 auto;
	}
	height: 1000px;
	margin-top: 20px;
}
.secondary {
	@include flex-item(1);
	margin-top: 50px;
	padding: 30px;
}

@media (min-width: 769px) {
.margin {
	margin: 0px 150px 150px 150px;
}
}