@import "_imports.scss";

.primary {
	color: black;
	@include background(background);
	@include flex-container; 
	h1 {
		text-align: center;
		font-size: 48px;
		@include cover-text(0);
	}
	img {
		display: block;
		margin: 0 auto;
	}
}
.secondary {
	@include flex-item(1);
}

.margin {
	margin: 0px 150px 150px 150px;
}
