@import "~slick-carousel/slick/slick.css";
@import "~slick-carousel/slick/slick-theme.css";

.carousel {
  font: 1em/1.5 'Roboto', sans-serif;
  color: #4c4c4c;
  margin-top: -25px;
}
a {
  text-decoration: none;
}

h3, h6 {
  text-align: center;
  color: white;
}
h4 {
	margin-left: 20px;
	color: white;
}
ul,
li {
  margin: 0;
  padding: 0;
  list-style: none;
}


/* =================================
  Layout Styles
==================================== */
.title {
	text-align: center;
	color: white;
	padding: 10px;
}

.button {
	border-radius: 100%;
	position: absolute;
	top: 60%;
	.fa {
		font-size: 3em;
	}
}

.left {
	left: 0%;

}
.right {
	right: 0%;
}
.slick-arrow {
	display: none!important;
}

.slick-slide img {
    margin: 0 auto;
    max-height: 200px;
}

.slick-dots {
	position: relative!important;
	bottom: 0;
	max-width: 500px;
	display: block;
	margin: 0 auto;
	padding: 10px;
	li {
		margin: 0;
		width: 10px;
		height: 10px;
		color: white;
		button {
			&:before {
				opacity: 1;
				color: white;
			}
		&:hover {
			opacity: 0.5;
			}
		}
	}
}

/* =================================
  Media Queries
==================================== */


@media (min-width: 550px) {
  .slick-slide img {
      max-height: 340px;
	}
	.slick-list {
		padding: 10px;
	}
	.button {
		top: 45%;
	}
	.left {
		left: 2.5%;
	
	}
	.right {
		right: 2.5%;
	}

}

@media (min-width: 769px) {
  .main-title {
    float: left;
  }
  .slick-dots {
  	max-width: 100%;
	}
	.slick-list {
		padding: 10px;
	}
	.button {
		margin: 20px;
		top: 100%;
	}

	.left {
		left: 5%;
	
	}
	.right {
		right: 5%;
	}

  .slick-slide {
		width: 800px;
		img {
			max-height: 480px;
		}
  }

}



