@import "~slick-carousel/slick/slick.css";
@import "~slick-carousel/slick/slick-theme.css";

.carousel {
  font: 1em/1.5 'Roboto', sans-serif;
  color: #4c4c4c;
  margin-top: -35px;
}
a {
  text-decoration: none;
}

h3, h6 {
	text-align: center;
}
h4 {
	text-align: center;
	text-transform:capitalize;
	margin-top: -10px;
}

h6 {
	margin-top: -10px;
}
ul,
li {
  margin: 0;
  padding: 0;
  list-style: none;
}


/* =================================
  Layout Styles
==================================== */
.title {
	text-align: center;
	padding: 10px;
}
.date {
	text-indent: 4em;
	margin: 0;
	padding: 10px;
}
.fa {
	position: absolute;
	top: 55%;
	font-size: 3em;
	color: white;
	&:hover {
		color: gray;
	}
}
.left {
	left: 0%;

}
.right {
	right: 0%;
}
.slick-arrow {
	display: none!important;
}

.slick-slide img {
    margin: 0 auto;
    max-height: 150px;
}

.slick-dots {
	position: relative!important;
	bottom: 0!important;
	max-width: 500px;
	display: none!important;
	margin: 0 auto!important;
	margin-top: -20px!important;
	padding: 10px;
	li {
		margin: 0;
		width: 10px;
		height: 10px;
		color: white!important;
		button {
			&:before {
				opacity: 1;
				color: white;
			}
		&:hover {
			opacity: 0.5;
			}
		}
	}
}

.slick-dots li button:before {
	color: white!important;
	text-shadow: 2px 2px 2px black;
}

/* =================================
  Media Queries
==================================== */


@media (min-width: 550px) {
	.slick-dots {
		display: block!important;  
	}

  .slick-slide img {
      max-height: 300px;
	}
	.slick-list {
		padding: 10px;
	}
	.fa {
		top: 65%;
	}
	.left {
		left: 2.5%;
	
	}
	.right {
		right: 2.5%;
	}

}

@media (min-width: 769px) {
	.title {
		font-size: 2.5em;
	}
  .main-title {
    float: left;
  }
  .slick-dots {
	display: block!important;
  	max-width: 80%;
	}
	.slick-list {
		padding: 10px;
	}
	.fa {
		margin: 20px;
		top: 80%;
	}

	.left {
		left: 5%;
	
	}
	.right {
		right: 5%;
	}

  .slick-slide {
		width: 800px;
		img {
			max-height: 400px;
		}
  }

}



