@import url('https://fonts.googleapis.com/css?family=Permanent+Marker');

$primary-color: #992D3C;

@mixin flex-container {
	display: -webkit-flex;
    display: flex;
	-webkit-align-items: center;
	align-items: center;    
}

@mixin flex-item($flex) {
	flex: $flex;
}

@mixin center {
	display: block;
	margin: 0 auto;
}

@mixin cover-text($indent) {
	font-family: 'Permanent Marker', cursive;
	text-indent: $indent;
}

@mixin background-gradient {
background: linear-gradient(#59657B, #B4BAC6);
}
