@import "_imports.scss";

.loading {
	@include background-gradient;
	@include flex-container;
	-webkit-align-items: baseline;
	align-items: baseline; 
	-webkit-flex-direction: column;
	flex-direction: column;
	margin-top: -30px;
	height: 1000px;
	h1 {
		text-align: center;
		width: 100%;
		font-size: 3em;
		@include cover-text(0);
		@include text-shadow($primary-color, $secondary-color);
	}
	img {
		display: block;
		margin: 0 auto;
	}
	.fa {
		font-size: 8em;
		width: 100%;
		text-align: center;
		top: 60%;
	}
}

.primary {
	img {
		width: 100%;
		max-width: 490px;
	}
}