@import url('https://fonts.googleapis.com/css?family=Permanent+Marker');

.loading {
	background-image: url('/src/images/background.jpg');
	background-size: cover;
	margin-top: -30px;
	h1 {
		text-align: center;
		font-size: 3em;
		margin-top: 30px;
		color: #992D3C;
		text-shadow: 4px 4px 4px #C4B3B9;
		font-family: 'Permanent Marker', cursive;
	}
	img {
		display: block;
		margin: 0 auto;
	}
	.fa {
		font-size: 8em;
		width: 100%;
		text-align: center;
	}
}
