@import "_imports.scss";

.loading {
	@include background-gradient;
	margin-top: -30px;
	height: 600px;
	h1 {
		text-align: center;
		font-size: 3em;
		margin-top: 30px;
		@include cover-text(0);
		color: $primary-color;
		text-shadow: 4px 4px 4px #C4B3B9;
	}
	img {
		display: block;
		margin: 0 auto;
	}
	.fa {
		font-size: 8em;
		width: 100%;
		text-align: center;
		top: 60%;
	}
}
