@import "_imports.scss";

$width: 3;
$height: 1.875;
$items: 68;

@function set-length($variable, $multiplier) {
	@return $variable * $multiplier;
}

//TODO: recalculate max-width
@function set-area-width($multiplier, $items) {
	@return $multiplier * $items;
}

.sidebar {
	background-color: $primary-color;
	.header {
		@include flex-container;
		height: 110px;
	}
	h1 {
		@include cover-text(0.5em);
		@include text-shadow($secondary-color, $tertiary-color);
		font-size: 1.5em;
	}
	.home {
		@include text-shadow($secondary-color, $tertiary-color);
		position: static;
		font-size: 2em;
		margin: 20px;
	}
	.button {	
		border: none;
		background-color: $primary-color;
		margin: 0px 20px;
		height: 75px;
	}
	.toggle {
		position: static;
		@include text-shadow($secondary-color, $tertiary-color);		
	}
}

.area	{
	margin: 0 auto;
    height: set-length($height, 29px);
    background: #ac8fab;
    .content{
		width: set-area-width(set-length($width, 29px), $items);
         button {
			border: none;
         }
        img {
			width: set-length($width, 25px);
			height: set-length($height, 25px);
			margin: 6px;
		    display: inline-block;
		    &:hover {
				transform: scale(1.1);
		    }
        }
    }
}
.scrollarea .scrollbar-container.horizontal .scrollbar {
    opacity: 1!important;
    background: $primary-color!important;
    margin-top: 2px!important;
}

.scrollarea .scrollbar-container {
    opacity: 1!important;
}


@media (min-width: 769px) {
	.area {
        height: set-length($height, 58px);
        .content{
            width: set-area-width(set-length($width, 54px), $items);
			img {
				width: set-length($width, 50px);
                height: set-length($height, 50px);
			}
        }
	}
	.sidebar {
		h1 {
			font-size: 2em;
		}
		.button {
			margin: 0px 50px;
		}
	}
}