.area{
        margin: 0 auto;
        height: 150px;
        background: #e5e5e5;

        .content{
            width: 3000px;

            .item{
                background: #82bb95;
                width: 200px;
                height: 125px;
                margin: 8px;
                padding: 8px;
                display: inline-block;
            }
        }
    }
