$width: 4;
$height: 2.5;
@function multiplier($variable, $multiplier) {
	@return $variable * $multiplier;
}

@function max-width($multiplier, $items) {
	@return $multiplier * $items;
}
.area{
        margin: 0 auto;
        height: multiplier($height, 25px) + 15px;
        background: #e5e5e5;

        .content{
            width: max-width(multiplier($width, 25px), 13);
            img {
		                width: multiplier($width, 25px);
		                height: multiplier($height, 25px);
		                margin: 8px;
		                padding: 8px;
		                display: inline-block;

            }
        }
    }


@media (min-width: 769px) {
	.area {
        height: multiplier($height, 50px) + 20px;
        .content{
            width: max-width(multiplier($width, 50px), 12);
							img {
                	width: multiplier($width, 50px);
                	height: multiplier($height, 50px);
							}

        }
    }
}
