@import './_imports.scss';

header {
	display: flex!important;
	align-items: center;
	justify-content: space-between;
	height: 65px;
	background: $red;
	h1 {
		@include font-style($lightblue, $darkblue);
		font-size: 1.5em;
	}
	img {
		margin-bottom: 0;
		width: 44px;
	}
}

.header-logo {
	display: flex!important;
	align-items: center;
	span {
		font-size: 1.5em;
		margin: 5px;
	}
}

.icon {
	color: #B4BAC6;
	text-shadow: 4px 4px 4px $darkblue;
	position: static;
	margin: 20px;
	&:hover {
		color: darken(#B4BAC6, 20);
	}
}

@media (min-width: 550px) {
	header { 
		flex-direction: row;
		height: 80px;
		h1 {
			font-size: 2em;
			margin-right: 25px;
		}
		img {
			width: inherit;
		}
	}
	.header-logo {
		margin-left: 0px;
		span {
			font-size: 2em;
			margin: 20px;
		}
	}

}

@media (min-width: 768px) {
	header { 
		flex-direction: row;
		height: 80px;
		h1 {
			font-size: 2.5em;
		}
		img {
			width: inherit;
		}
	}
	.header-logo {
		margin-left: 0px;
	}
}


