header {
	display: flex!important;
	align-items: center; 
	height: 80px;
	background: #992d3c;
}
header h1 {
	font-family: 'Permanent Marker', cursive;
	color: #b4bac6;
	text-shadow: 4px 4px 4px #59657b;
	font-size: 1.75em;
}

header > img {
	margin-bottom: 0;
}

.home {
	color: #B4BAC6;
	text-shadow: 4px 4px 4px #59657B;
	position: static;
	margin: 20px;
}

input[type=text] {
	padding: 2px;
	border: none;
	font-size: 17px;
}

@media (min-width: 550px) {
	header h1 {
		font-size: 2.5em;
	}
}

