@import './_imports.scss';
$height: 210px;

.container h1 {
	@include font-style($red, $lightblue);
	display: flex;
	justify-content: center;
}
.flip-card {
	display: flex;
	align-items: center;
	min-height: $height;
	perspective: 1000px;
	margin-bottom: 20px;
}

.flip-card-inner {
	position: relative;
	width: 100%;
	min-height: $height;
	text-align: center;
	transition: transform 0.6s;
	transform-style: preserve-3d;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.6), 0 6px 20px 0 rgba(0, 0, 0, 0.59);
	span {
		position: absolute;
		width: 80px;
		height: 30px;
		border-top: 50px solid transparent;
		border-right: 80px solid yellow;
		border-bottom: 0px solid transparent;
		bottom: 0;
		right: 0;

	}
	h6 {
		font-family: $fontfamily;
		color: $red;
		text-shadow: 2px 2px 2px $lightblue;
		vertical-align: middle;
		position: absolute;
		bottom: 0px;
		right: 5px;
	}
}

.flip-card:hover .flip-card-inner {
	transform: rotateY(540deg);
}

.flip-card-front, .flip-card-back {
	position: absolute;
	width: 100%;
	min-height: $height;
	backface-visibility: hidden;
}


.flip-card-back {
	padding: 10px;
	transform: rotateY(180deg);
}
.paginate {
	display: flex;
	justify-content: center;
	margin-top: 20px;
}
.paginate-pages {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	list-style: none;
	font-weight: bold;
	a {
		@include font-style($red, $darkblue);
		background: $lightblue;
		font-size: 1em;
		padding: 7px;
		&:hover {
			text-decoration: none;
			color: darken($red, 10);
			background: darken($lightblue, 10);
		}
	}
}

@media (min-width: 550px) {
	.flip-card, .flip-card-inner, .flip-card-front, .flip-card-back {
		min-height: $height + 100;
	}
}

@media (min-width: 769px) {
.flip-card, .flip-card-inner, .flip-card-front, .flip-card-back {
		min-height: $height;
	}
.paginate-pages {
	a {
		font-size: 1.5em;
		padding: 15px;
	}
}
}
