body {
background: linear-gradient(#59657b,#b4bac6);
}
div {
  color: white;
}
header {
    display: flex;
	align-items: center; 
	height: 110px;
	background: #992d3c;
}

.frontPage {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;

}

.item {
	display: flex;	
	justify-content: center;
	align-items: center;
	width: 30%;
	height: 100%;
	padding: 10px;
}

.item img {	
	margin-bottom: 0;
}
