@mixin flex-container {
	display: -webkit-flex;
    display: flex;    
}

@mixin flex-item($flex) {
	flex: $flex;
} 

@mixin center {
	display: block;
	margin: 0 auto;
}

* {
  box-sizing: border-box;
}

.content {
	@include flex-container;
	-webkit-flex-direction: column-reverse;
    flex-direction: column-reverse;
}

.sidebar {
	@include flex-item(1);
	width: 250px;
	img {
		@include center;
		padding: 10px;
		margin: 10px;
		display: inline-block;
	}
}



.carousel {
	@include flex-item(4);
	img {
		@include center;
	}
}

.footer {
	@include flex-container;
    bottom: 0px;
    width:100%;
    h3 {
		color: black;
    }

}

@media (min-width: 769px) {
.content {
	-webkit-flex-direction: row;
    flex-direction: row;
}

.sidebar {
	img {
		display: block;
	}
}

}

@import "_carousel.scss";
