@import "_sidebar.scss";
@import "_carousel.scss";
@import "_loading.scss";
@import "_body.scss";
@import "_imports.scss";

body {
	margin: 0;
}
* {
  box-sizing: border-box;
}

.footer {
	@include flex-container;
	background-color: $primary-color;
	bottom: 0px;
	width: 100%;
	h2 {
		@include cover-text(1.5em);
		color: #C4B3B9;
		text-shadow: 4px 4px 4px #59657B;
		}
}