@import './_imports.scss';

.tags {
	li {
		padding: 10px;
		background-color: $lightblue;
		border: 1px solid darken($lightblue, 10);
		&:hover {
			background-color: darken($lightblue, 10);
		}

		a {
			color: white;
			text-decoration: none;
		}
	}
}

.tagResults {
	@include font-style($red, $lightblue);
	text-indent: 2em;
	text-align: left;
}

.tags-type {
	li {
		padding: 30px;
	}
}